/user/migrations
/store/migrations
/search/migrations
/purchasing/migrations
/errorhandling/migrations
/detail/migrations
/board/migrations
/log
__pycache__
*.pyc
*.project
*.pydevproject
*.prefs

private_files/kakao_settings.txt
private_files/secret_key.txt
private_files/wining_email_account.txt
